{% extends "layout.html" %}
{% block content %}
<div class="title-bar">
    <h2 class="title">Add New Freezer</h2>
    <div class="btn-group">
    </div>
</div>

<div class="mx-auto p-5" style="width: 70%; margin-top: 60px; border-radius: 10px; box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28); background-color: white;">
    <div >
        <h4>Import freezer from mastersheet</h4>
        <hr>
    </div>
    <div id="forms" >
        <form id = "add_form_template" method = "POST" action = '' class="px-1">
            {{add_freezer.hidden_tag()}}
        <div class="form-group">
            {{add_freezer.name.label(class="h5")}}
            {{add_freezer.name(class = "form-control", id = "name")}}
        </div>
        <div class="form-group">
            {{add_freezer.mastersheet.label(class="h5")}}
            {{add_freezer.mastersheet(class = "form-control-file", id = "mastersheet")}}
            <p class="text-secondary"><small>*Please ensure the mastersheet is full of values and not #REF!*</small></p>
        </div>

        {{add_freezer.submit(class = "btn btn-primary")}}
        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

{% endblock content %}