{% extends "layout.html" %}
{% block content %}
<div>

	<div class="container box-table" id="table1">
		<div class="row">
			<div class="col header">
		      B01A - Sample display
		    </div>
		</div>
		<div class="row cell">
			<div class="col-sm">
		      
		    </div>
		    <div class="col-sm">
		      1
		    </div>
		    <div class="col-sm">
		      2
		    </div>
		    <div class="col-sm">
		      3
		    </div>
		    <div class="col-sm">
		      4
		    </div>
		    <div class="col-sm">
		      5
		    </div>
		    <div class="col-sm">
		      6
		    </div>
		    <div class="col-sm">
		      7
		    </div>
		    <div class="col-sm">
		      8
		    </div>
		    <div class="col-sm">
		      9
		    </div>
		 </div>
		 <div class="row cell">
			<div class="col-sm">
		      a
		    </div>
		    <div class="col-sm popup-form">
		      <span>popup form</span>
		      <form id="form" class="hidden">
		      	<input class="text-input" type="text" placeholder="new name">
		      </form>
		    </div>
		    <div class="col-sm popup-form">
		      <span>popup form</span>
		      <form id="form" class="hidden">
		      	<input class="text-input" type="text" placeholder="new name">
		      </form>
		    </div>
		    <div class="col-sm popup-form">
		      <span>popup 2</span>
		      <form id="form" class="hidden">
		      	<input class="text-input" type="text" placeholder="new name">
		      </form>
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		 </div>
		 <div class="row cell">
			<div class="col-sm">
		      b
		    </div>
		    <div class="col-sm popup-form">
		      blahblah blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		 </div>
		 <div class="row cell">
			<div class="col-sm">
		      c
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		 </div>
		 <div class="row cell">
			<div class="col-sm">
		      d
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		 </div>
		 <div class="row cell">
			<div class="col-sm">
		      e
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		 </div>
		 <div class="row cell">
			<div class="col-sm">
		      f
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		 </div>
		 <div class="row cell">
			<div class="col-sm">
		      g
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		 </div>
		 <div class="row cell">
			<div class="col-sm">
		      h
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		 </div>
		 <div class="row cell">
			<div class="col-sm">
		      i
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		    <div class="col-sm">
		      blah
		    </div>
		 </div>
	</div>

	<div class = "container" 
		style="margin: auto; width: 80%; border: 1px solid #343a40; border-radius: 5px;"
		id = "table1" >
	{% for rack in box %}
		<div class="">
			<div class="row">
				<div class="col header">
			      {{ rack.id }} - {{ rack.name }}
			    </div>
			</div>
			<div class="row cell">
				<div class="col-sm">
			      
			    </div>
			    <div class="col-sm">
			      1
			    </div>
			    <div class="col-sm">
			      2
			    </div>
			    <div class="col-sm">
			      3
			    </div>
			    <div class="col-sm">
			      4
			    </div>
			    <div class="col-sm">
			      5
			    </div>
			    <div class="col-sm">
			      6
			    </div>
			    <div class="col-sm">
			      7
			    </div>
			    <div class="col-sm">
			      8
			    </div>
			    <div class="col-sm">
			      9
			    </div>
			</div>
			{% for row in rack %}
			 	<div class="row cell">
			 		<div class="col-sm">{{ row.index }}</div>
				 	{% for cell in row %}
				 		<div class="col-sm popup-form">
					    	<span>{{ cell.text }}</span>
					    	<form id="form" class="hidden">
					      		<input class="text-input" type="text" placeholder="new name">
					    	</form>
					    </div>
				 	{% endfor %}
			 	</div>
			{% endfor %}
		</div>
	{% endfor %}
	</div>

	<div class="hidden">
		<form id="form-template">
			<input class="text-input" type="text" name="name" placeholder="">
		</form>
	</div>

</div>
<script src = "{{ url_for('static', filename='scripts/box_display.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

{% endblock content %}