{% extends "layout.html" %}
{% block content %}

<script src="https://unpkg.com/muuri@0.8.0/dist/muuri.min.js"></script>
<script src="https://unpkg.com/web-animations-js@2.3.2/web-animations.min.js"></script>
<script src="https://unpkg.com/muuri@0.8.0/dist/muuri.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Editing options -->

<div class="title-bar">
  <h2 class="title">Freezer Editor</h2>
  <button class="btn btn-secondary" onclick="add_cabinet('{{freezer_name}}')">
      add cabinet
  </button>
</div>

<div class="container" id="editing">
    <div class="container editor" id="add-sections">
        <!-- Header -->
        <div class="row"> 
            <div class="col header">Add Sections</div> 
        </div>

        <!-- Editor grid -->
        <div class="editor-grid">
            <div class="grid grid-0" id = "grid-0">
                <!--  -->
              <div class="item code-1" id="item#" >
                  <div class = "item-content">
                    <div class="freezercell sub-item" id="plate.P##">
                        <i class="far fa-edit edit-btn" onclick="edit(this)"></i>
                        <p contentEditable="false" class="editcontent">P##</p>
                    </div>
                    <div class="freezercell sub-item" id="plate.P##" onclick="edit(this)">
                        <p contentEditable="false" class="editcontent">P##</p>
                    </div>
                </div>        
              </div>
              
              <div class="item" id="item#" >
                  <div class = "item-content">
                    <div class="placeholder sub-item" id="empty">
                        <p contentEditable="false" class="editcontent">EMPTY</p></div>
                </div>        
              </div>

              <div class="item code-1" id="item#" >
                  <div class="item-content">
                      <div class="splitcell sub-item" id="box.B##">
                          <i class="far fa-edit edit-btn" onclick="edit(this)"></i>
                          <p contentEditable="false" class="editcontent">B##</p>
                      </div>
                    <div class="splitcell sub-item" id="box.B##">
                        
                        <p contentEditable="false" class="editcontent">B##</p>
                    </div>
                    <div class="splitcell sub-item" id="box.B##">
                        
                        <p contentEditable="false" class="editcontent">B##</p>
                    </div>
                    <div class="splitcell sub-item" id="box.B##">
                        
                        <p contentEditable="false" class="editcontent">B##</p>
                    </div>
                  </div>
              </div>
            </div>
        </div>

        <div class="row">
            <button class="col footer btn btn-primary" onclick="saveAll('{{freezer_name}}')">
                Save Changes</button>
        </div>
    </div>

</div>



{% for cabinet in f_map %}
{% set outer_loop = loop %}
<div id="container" class="cabinet mx-auto">
    <!-- Header -->
    <div class="header cabinet-head">Cabinet {{outer_loop.index}}</div>
    <div class="cabinet-body">
        <div class="grid grid-{{outer_loop.index}}" id="grid-{{outer_loop.index}}">    
        {% for compartment in cabinet %}
            <div class="item code-{{ compartment['vacancy'] }}" >
                  <div class = "item-content">
                      {% if compartment['type'] == 'empty' %}
                          <!-- empty -->
                          <div class="placeholder sub-item" id = "{{compartment['type']}}">
                              <p contentEditable="false" class="editcontent">Empty</p>
                          </div>
                      {% elif compartment['type'] == 'plate' %}
                          <!-- plate rack -->
                          {% set url = '/plate-display/' ~ freezer_name ~ '/' ~  compartment['list'][0] ~ '-' ~ compartment['list'][1] %}
                        {% for rack in compartment['list'] %}
                        <div class="freezercell sub-item" onclick = "location.href='{{ url }}'" 
                            id = "{{compartment['type']}}.{{rack}}">{{rack}}</div>
                        {% endfor %}
                    {% elif compartment['type'] == 'tube' %}
                          <!-- plate rack -->
                          {% set url = '/plate-display/' ~ freezer_name ~ '/' ~  compartment['list'][0] ~ '-' ~ compartment['list'][1] %}
                        {% for rack in compartment['list'] %}
                        <div class="freezercell sub-item" onclick = "location.href='{{ url }}'" 
                            id = "{{compartment['type']}}.{{rack}}">{{rack}}</div>
                        {% endfor %}
                    {% else %}
                        <!-- box rack -->
                        {% set url = '/box-display/' ~ freezer_name ~ '/' ~  compartment['list'][0] ~ '-' ~ compartment['list'][3] %}
                        {% for rack in compartment['list'] %}
                        <div class="splitcell sub-item" onclick="location.href='{{ url }}'"
                            id = "{{compartment['type']}}.{{rack}}">{{rack}}</div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>

{% endfor %}


<!-- <script src = "{{ url_for('static', filename='scripts/freezermap.js') }}"></script> -->
<script src = "{{ url_for('static', filename='scripts/map_editor.js') }}"></script>
{% endblock content %}